* {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  font-family: Comic Sans MS;
}

.header {
  width: 100;
  height: 5vh;
  /* background: rgb(19, 123, 45); */
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
 
  width: 90;
  height: 5vh;
  /* background: rgb(36, 120, 72); */
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  height: 5vh;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
}

.books-list {
  min-height: 30vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-items: center; */
  /* text-align: center;
  align-items: flex-start; */
}
@media screen and (max-width: 600px) {
}

img {

 
  
}

.book {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  height: 90%;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  border-radius: 5px;
  margin: 30px;
  padding: 5px;
  font-size: 24px;
  outline: solid;
  color: rgb(0, 0, 0);
  background-color: #f6f6f6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px 9px 9px rgb(196, 196, 196);
}
.book:hover {
  background-color: #ffffffde;
}

/* .book:active {
  background-color: #ffffffbd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 */
/* .bookLeft {
  padding-bottom: 20vh;
}  */
.textRight{
  font-size: 15px;
  text-align: left;
  height: fit-content;
  display: inline-block;
  margin-bottom: 1rem;
  
} 

.Books {
  cursor: pointer;
  border: solid;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 8px 6px -6px black;
}

.Home {
  cursor: pointer;
  border: solid;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 8px 6px -6px black;
}

.Mags {
  cursor: pointer;
  border: solid;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 8px 6px -6px black;
}

.E {
  cursor: pointer;
  border: solid;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 8px 6px -6px black;
}

.Account {
  cursor: pointer;
  border: solid;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 8px 6px -6px black;
}
